$primary-background-color: #fff;
$secondary-background-color: #333;
$primary-button-color:#897148;
$primary-button-hover-color:#B59571;
$secondary-button-color:#fff;
$secondary-button-color-hover: rgba(0, 0, 0, 0.2);
$light-text: #fff;
$dark-text:#333;
$primary-font: 'Roboto', sans-serif;
$mid-width: 400;
$bold-width: 500;
$big-letters: 54px;
$menu-letters-size: 16px;
$layout-breakpoint-min: 640px;
$layout-breakpoint:800px;
$layout-breakpoint-small: 1024px;
$layout-breakpoint-medium: 1280px;
$layout-breakpoint-large: 1450px;
$input-width: 300px;