@import url('https://fonts.cdnfonts.com/css/circe?styles=15451,81159,81160,81161');
$primary-background-color: #eae8e1;
//$primary-background-color: #fff;
$secondary-background-color: #333;
$primary-button-color:#897148;
$primary-button-hover-color:#B59571;
$secondary-button-color:#eae8e1;
$secondary-button-color-hover: rgba(0, 0, 0, 0.2);
$light-text: #fff;
$dark-text:#333;
$primary-font: 'Circe', sans-serif;
//$primary-font: 'Roboto', sans-serif;

$mid-width: 400;
$bold-width: 500;
$big-letters: 54px;
$menu-letters-size: 16px;
$layout-breakpoint-min: 640px;
$layout-breakpoint:800px;
$layout-breakpoint-small: 1024px;
$layout-breakpoint-medium: 1280px;
$layout-breakpoint-large: 1450px;
$input-width: 300px;

$currency: " L";