@import '../../variables/css-variables.scss';
.top-bar {
  position:absolute;
  right:0px;
  margin: 30px 120px 0px 0px;

  font-size: $menu-letters-size;
  color:$light-text;


  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-item {
        padding: 10px;
        cursor:pointer;

        .item-text {
          margin-right: 25px;
          margin-left: 25px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }
        &:hover{
          transition: background-color 0.3s ease;
          background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
        }
      }
    }



  }
}

