@import "../../variables/css-variables.scss";
.footer {
  user-select: none;
  margin-top:100px;
  width: 100%;
  background-color: $secondary-background-color;

  .footer-container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo-img {
      width: 80px;
      height: 46px;
    }
    .footer-text{
      color:$light-text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
    }
    .payment-systems {
      display: flex;
      .payment{
        .payment-icon{
          width: 40px;
          height: 40px;
        }
        &:first-child{
          margin-right: 30px;
        }
      }
    }
  }
}

