@import "variables/css-variables.scss";
/* Сброс всех отступов и полей для всех элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Рекомендуется использовать border-box для бокс-модели */
}

/* Сброс стилей списка */
ul, ol {
  list-style: none;
}

/* Сброс стилей для ссылок */
a {
  text-decoration: none;
  color: inherit;
}

//Возможность оставить скроллбар, если понравится
::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
}


//::-webkit-scrollbar{
//  width: 0;
//}
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: $secondary-background-color;
  color: $dark-text;
}

/* Сброс стандартных стилей заголовков */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.button {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  background-color: $primary-button-color;
  font-weight: $bold-width;
  color: $light-text;
  font-family: $primary-font;

  &:hover {
    transition: background-color 0.3s ease;
    background-color: $primary-button-hover-color;
  }
}

.secondary-button {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border: 1px solid rgba(51, 51, 51, 0.20);
  background-color: $secondary-button-color;
  font-weight: $bold-width;
  color: $dark-text;
  font-family: $primary-font;

  &:hover {
    transition: background-color 0.3s ease;
    background-color: $secondary-button-color-hover;
  }
}

/* Остальные сбросы и нормализации по вашему выбору */
.breadcrumbs {
  margin-left: 153.6px;
  z-index: 2;
  .breadcrumb {
    &.not-active {
      color: $dark-text;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    &.active{
      color: $dark-text;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }

    &:not(:first-child) {
      &::before {
        content: "/";
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

}
.section{
  //colors
  background-color: $primary-background-color;
  font-family: $primary-font;
  font-weight: $mid-width;

  //
  display: flex;
  flex-direction: column;
  height: 100vh;

  // scrolling parameters
  overflow-y:scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;

  .horizontal-section {
    //sizes
    width: 100%;
    height: calc(100vh);

    //positions
    position:relative;
    display: flex;
  }

}
